@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

  html{
    font-size: 110%
  }

}

@media only screen and (min-width: 90em) {

   html{
    font-size: 120%
  }

}

@media only screen and (min-width: 120em) {

  html{
    font-size: 130%
  }

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  display: block;
  text-align: left;
  color: white;

}

.nav {
  margin: 0.2 0;
  padding: 0;
  list-style-type: none;
}

.nav a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: left;
}

header {
  background-color: black;
  overflow: hidden;
}

.best{
    background-image:url("../images/snowboardgreen1.jpg");
    background-size: 150%;
    background-repeat:no-repeat;
    background-position:top center;
    overflow: hidden;
    margin:0;
    width: 100%;
}

.headline { 
    margin:7rem 0;
    font-size:2rem;
    text-align:center;
    background-color:rgba(0 ,0 ,0, .5);
    color: white;
  }

.blue {
  background-color: #33ccff;
}

.about {
  text-align: center;

  }

.icon-names{
  text-align: center;
  margin: 0;
  padding: 0:;
}

.need {
  text-align: center;
}

.icon {
  display: block;
}

.bottom {
  background-image:url("../images/snowboard1-2.jpg");
  background-size: 150%;
  background-repeat:no-repeat;
  background-position:top center;
  overflow: hidden;
  margin:0;
  width: 100%;
}

.para-bottom { 
    margin:10rem 0 0;
    font-size:1.5rem;
    text-align:center;
    background-color:rgba(0 ,0 ,0, .5);
    color: white;
  }








footer {
  background-color: black;
  color: white;
  overflow: hidden;
}
















